/* css reset  */
* {
    padding: 0;
    margin: 0;
  }
  
  /* css variables */
  fieldset{
    border: none;
    position: relative;
    top:130px;
  }
  fieldset .flex{
    display: flex;
  }
  /* navbar */
  #navbar {
    align-items: center;
    position: absolute;
    font-family: "Bree Serif", serif;
    width: 100%;
    color: white;
  }
  #navbar h1{
    color: white;
    font-family: "Bree Serif", serif;
    margin-left: 4vw;
    margin-top: 3vh;
  }
  #navbar p {
    color: white;
    font-size: 1.3rem;
    margin: 0 4vw 1vh ;
    font-family: "Bree Serif", serif;
  }
  #navbar .p2 {
    color: white;
    font-size: 1rem;
    margin-left: 4vw;
    font-family: "Bree Serif", serif;
    margin: 1vh 4vw ;
  }
  #navbar::before {
    content: "";
    background-color: black;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
  }
  /* home section */
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 8px solid green;
    opacity: 0.7;
  } 
  #home .box{
    margin-left: 4vw;
  
  }
  #home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 610px */
  }
  #home::before {
    content: "";
    background: url(imgs/superbg2.jpg) no-repeat center/cover; 
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.89;
  }
  .extra{
    background: url("imgs/bg1\ \(2\).jpg") no-repeat bottom/cover;
    height: 20vh;
    width: 100vw;
  }
  #home img{
    width: 25vw;
    margin: 0vh 4vw;
  }
  #home .row{
    display: flex;
  }
  #home h2{
    color: white;
    font-family: "Bree Serif", serif;
    font-size: 1.3rem;
    position: relative;
    top: 120px;
    margin-left: 4vw;
  }
  #home .p2 {
    color: white;
    font-size: 1rem;
    font-family: "Bree Serif", serif;
    margin: 0vh 5vw 2vh 5vw;
  }
  .h-primary {
    font-size: 2.5rem;
    padding: 0px;
    font-family: "Bree Serif", serif;
  }
  .btn {
    background: url("imgs/btn-removebg-preview.png") no-repeat center/cover;
    height: 50px;
    width: 200px;
    padding: 6px 20px;
    border: none;
    position: relative;
    top: 110px;
    margin: 17px;
    cursor: pointer;
    color: transparent;
  }
  .center {
    text-align: center;
  }
  
  
